# Annotating Female Abolitionist Poets using Spacy

This notebook will cover the proccess of creating a .csv file with annotated data for the Female Abolitionist Poems dataset using SpaCy (see [README](https://github.com/tijn-donners/collecting_data_spaCy/blob/main/README.md) for more info). First, let's import the required Python libraries

In [1]:
import os #for loading (meta)data
import pandas as pd
import spacy
#!spacy download en_core_web_sm #downloads english language model


## Now that the required modules are imported, we make two lists: filenames and a list of texts

In [2]:
texts = []
file_names = []

for file_name in os.listdir('data'):
    if file_name.endswith('.txt'):
        texts.append(open('data' + '/' + file_name, 'r', encoding='utf-8').read())  #the 'r' is for 'read mode'
        file_names.append(file_name)

## Now we turn these lists into a dictionary, and then a pandas DataFrame

In [3]:
d = {'Filename':file_names,'Text':texts}
df = pd.DataFrame(d)
df.head()

                Filename                                               Text
0        Harris_1838.txt  John Harris\n'The Fall of Slavery' (1838)\nMus...
1          More_1788.txt  S L A V E R Y,\nA  P O E M.\n\nBY\n\nH A N N A...
2       Yearsly_1788.txt  A\nP O E M\nON THE\nI N H U M A N I T Y\nOF TH...
3  Day_Bicknell_1775.txt  T H E\nD Y I N G  N E G R O,\nA\nP  O  E  M\nT...
4      Barbauld_1791.txt  E  P  I  S  T  L  E\n\nT O\nWILLIAM WILBERFORC...

In [4]:
df['Text'] = df['Text'].str.replace(r'\s+', ' ', regex=True).str.strip()
df.head()

                Filename                                               Text
0        Harris_1838.txt  John Harris 'The Fall of Slavery' (1838) Musin...
1          More_1788.txt  S L A V E R Y, A P O E M. BY H A N N A H M O R...
2       Yearsly_1788.txt  A P O E M ON THE I N H U M A N I T Y OF THE S ...
3  Day_Bicknell_1775.txt  T H E D Y I N G N E G R O, A P O E M The THIRD...
4      Barbauld_1791.txt  E P I S T L E T O WILLIAM WILBERFORCE, ESQ. [P...